html, body{
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e2e;
    color: #f1f1f1;
    line-height: 1.6;
}

body{
    display:flex;
    flex-direction: column;
}

h1{
    color: #a3a3c1;
}

a{
    color: #f1f1f1;
    text-decoration: underline;;
}
a:hover{
    color: #babadd;
}

table{
    width: 100%;
}
    table thead{
        text-align: left;

        background-color: #a3a3c1;
    }

    table tbody{

    }
        table tbody tr{
            background-color: #d3d3d3;
            color: #1e1e2e;
        }
        table tbody tr:nth-of-type(2n){
            background-color: #b4b4b4;
            color: #1e1e2e;
        }

#header{
    flex-grow: 0;

    background-color: #2e2e3e;
}
    #header nav a{
        margin: 6px;
    }

#content{
    flex-grow: 1;

    padding: 9px;

    background-color: #f1f1f1;
    color: #1e1e2e;
}