doctype html
html
  head
    title= appName+" - Administration dashboard"
    link(rel="stylesheet" href='/style.css')
    script(src="/d3.min.js")
    script(src="/d3.barchart.js")
    script(src="/dayjs.min.js")
    include variables.pug

  body
    div#header
        h1= appName+" - Administration dashboard"
        include menu.pug