include header.pug
div#content
    include user.dashboard.pug
    table
        thead
            tr
                th #
                th Name
                th Email
                th Credits
        tbody
            each u in users
                tr
                    td= u.id
                    td= u.name
                    td= u.email
                    td= u.credits
            else
                tr
                    td(colspan="4") No users in the database