div#chart
script.
    var chartElement = document.querySelector("#chart");

    let dates = [];
    usersData.forEach((entry) => {
        entry.date = dayjs(entry.date * 1000, "DD-MM-YYYY");
        dates.push(entry.date);
    });

    var chart = BarChart(usersData, {
        x: d => d.date,
        y: d => parseInt(d.value),
        title: d => dayjs(d.date * 1000).format("DD-MM-YYYY")+": "+d.value+" visits",
        xDomain: dates,
        yLabel: "Visits",
        width: parseInt(chartElement.offsetWidth),
        height: 500,
        color: "#a3a3c1"
    });

    chartElement.append(chart);